<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.js"></script>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.min.js"></script>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.slim.js"></script>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.slim.min.js"></script>
<a href="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.min.map">d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.min.map</a>
<a href="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.slim.min.map">d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery\jquery.slim.min.map</a>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery-validate\jquery.validate.js"></script>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery-validate\jquery.validate.min.js"></script>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.js"></script>
<script src="d:\yazeed\backendtrining\projectfortraining\projectfortraining\lib\jquery-validation-unobtrusive\jquery.validate.unobtrusive.min.js"></script>